<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.MailKit"/>
		<add assembly="NLog.Database"/>
		<add assembly="NLog.Targets.Seq"/>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">

		<target name="file" xsi:type="File" fileName="${aspnet-appbasepath}/wwwroot/logs/Log-File-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

		<target name="jsonFile" xsi:type="File" fileName="${aspnet-appbasepath}/wwwroot/logs/Log-File-${shortdate}.json" >
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="properties" encode="false" >
					<layout type='JsonLayout' includeEventProperties="true" maxRecursionLimit="2" />
				</attribute>
				<attribute name="exception" encode="false">
					<layout type="type" layout="${exception:format=type}" />
					<layout type="message" layout="${exception:format=message}" />
					<layout type="stacktrace" layout="${exception:format=tostring}" />
				</attribute>
			</layout>
		</target>

		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="${configsetting:Seq.Url}" apiKey="${configsetting:Seq.Key}">
				<property name="MachineName" value="${machinename}"/>
				<property name="ThreadId" value="${threadid}" as="number"/>
			</target>
		</target>
		
		<target xsi:type="Database"
				name="database"
				connectionString="${configsetting:ConnectionStrings.DefaultConnection}"> <!--Ortak Bir Log Db Oluşturulabilir.-->
			<commandText>
				INSERT INTO
				dbo.ErrorLogs ("Callsite", "Logged", "Level", "Logger", "Exception", "StackTrace", "MachineName", "Message", "Url")
				VALUES
				(@CallSite, @Logged, @Level, @Logger, @Exception, @StackTrace, @MachineName, @Message, @Url);
			</commandText>
			<parameter name="@callsite"       layout="${callsite:filename=true}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@exception"      layout="${exception}" />
			<parameter name="@stackTrace"     layout="${stacktrace}" />
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@url"            layout="${aspnet-request-url}" />
		</target>

		<target
			xsi:type="Mail"
			name="mail"
			smtpPort="465"
			smtpServer="mail.***.com"
			smtpUserName="***@***.com"
			smtpPassword="xd53qwXfez"
			smtpAuthentication="Basic"
			encoding="UTF-8"
			enableSsl="True"
			secureSocketOption="Auto"
			to="log@***.com"
			from="error@***.com.tr"
			subject="ERROR!!!"
			body="${longdate}|${message}"
			layout="${message} ${exception:format=tostring}" />
	</targets>

	<rules>

		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="System.Net.Http.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />

		<logger name="*" minlevel="Info" writeTo="seq" />
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="jsonFile" />

		<logger name="*" minlevel="Error" writeTo="mail, database" />
	</rules>
</nlog>